/* Universal selector that makes all elements height and width apply to the content, padding, and border. Then set all paddings and borders to size 0 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Sets the background color for the page  */
body {
  background-color: #d9dcd6;
}

/* Declares attributes of heading  */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* Makes elements in header and h1 apear inline and declares font size  */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Sets color for header, h1, and .seo  */
.header h1 .seo {
  color: #d9dcd6;
}

/* Sets padding, margins, positioning, and text format  */
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Remvoves bulletins from link list  */
a {
  list-style-type: none;
}

/* Displays elements inline and sets margin */
.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Sets colors and removes underline of text  */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Sets font size  */
p {
  font-size: 16px;
}

/* Sets image atrributes  */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Sets margin and doesn't allow floating elements to the left  */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Sets margin and doesn't allow floating elements to the right  */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Sets size of section and displays elements inline  */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Sets padding, margin, size, and font for this section  */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Sets section attributes  */
.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Sets section attributes  */
.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Sets section attributes  */
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Sets section attributes  */
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Sets section attributes  */
.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Sets section attributes  */
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Sets image attributes  */
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Sets image attributes  */
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Sets image attributes  */
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Defines the margin, padding, height, font, and coloring of this section  */
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Defines the margin, padding, height, font, and coloring of this section  */
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Defines the margin, padding, height, font, and coloring of this section  */
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Sets max height size for image  */
.search-engine-optimization img {
  max-height: 200px;
}

/* Sets max height size for image  */
.online-reputation-management img {
  max-height: 200px;
}

/* Sets max height size for image  */
.social-media-marketing img {
  max-height: 200px;
}

/* Sets margin and font size  */
.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Sets margin and font size  */
.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Sets margin and font size  */
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Defines padding and font for footer. Also makes no text apear on either side */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
